*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  text-align: center;
}

header .headline{
  padding: 20px 0;
}



.nav-list{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  border-top: 1px solid #848282;
  border-bottom: 1px solid #848282;
}

.list-item{
  padding: 15px 20px;
}

main{
  width: 100%;
}

/* GREEN */
.Green{
  padding: 50px 0 0 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.green-1{
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.green-2{
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}
.green-3{
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.green-4{
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}


/* YELLOW */
.Yellow{
  display: flex;
  justify-content: center;
}

.yellow-1{
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.yellow-2{
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}
.yellow-3{
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.yellow-4{
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

/* BLUE */
.Blue{
  display: flex;
  padding: 0 0 50px 0;
  justify-content: center;
}

.blue-1{
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.blue-2{
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}
.blue-3{
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.blue-4{
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer{
  width: 100%;
  height: 120px;
  background-color: #848282;
  text-align: center;
  line-height: 120px;
}

.footer-text{
  color: #fff;
}